<header>
  <div class='header container'>
    <div class='logo'></div>
  </div>
</header>
<section>
  <div class='text container'>
    <h1>
      Front-End Developer<span>.</span>
    </h1>
    <p>
      Adyax’s core values take top priority: we care for our client, and we care for our people. Staff and clients work in partnership with consistent,   transparent communication.
    </p>
  </div>
</section>
<section>
  <div class='cart-wrapper'>
    <div class='cart'>
      <div>
        <div class='item'>
          <div class='avatar'></div>
          <div class='text-and-select'>
            <h1>Title Lorem ipsum dolor sit</h1>
            <p>Lorem ipsum dolor sit amet, quis dictum mauris erat aliquam, ac in pede pharetra quis non et. </p>
            <form action="/action_page.php" class='form'>
              <select name="options">
                <option value="SKU1">SKU1</option>
                <option value="SKU2">SKU2</option>
                <option value="SKU3">SKU3</option>
                <option value="SKU4">SKU4</option>
              </select>
            </form>
          </div>
          <div class='counter-wrapper'>
            <div class='counter'>
              <input type="button">
                <p>5</p>
              <input type="button">
            </div>
          </div>
          <div class='remove-wrapper'>
            <div class='remove'>
            </div>
            <div class='amount'>
              <p>75.00 €</p>
            </div>
          </div>

        </div>
        <hr>
        <div class='item'>
          <div class='avatar'></div>
          <div class='text-and-select'>
            <h1>Title Lorem ipsum dolor sit</h1>
            <p>Lorem ipsum dolor sit amet, quis dictum mauris erat aliquam, ac in pede pharetra quis non et. </p>
            <form action="/action_page.php" class='form'>
              <select name="options">
                <option value="SKU1">SKU1</option>
                <option value="SKU2">SKU2</option>
                <option value="SKU3">SKU3</option>
                <option value="SKU4">SKU4</option>
              </select>
            </form>
          </div>
          <div class='counter-wrapper'>
            <div class='counter'>
              <input type="button">
                <p>5</p>
              <input type="button">
            </div>
          </div>
          <div class='remove-wrapper'>
            <div class='remove'>
            </div>
            <div class='amount'>
              <p>75.00 €</p>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>
<section>
    <div class='pic'>
      <p>
        Adyax specializes in working with multi-national, multi-brand companies on a wide range of customer, client and employee-facing solutions.
      </p>
    </div>
</section>
